<%= form_with model:item, local:ture do |f| %>

	<%= f.label :"商品画像" %>
	<%= f.file_field :item_image, accept: 'image/*' %>
	
	<%= f.label :"商品名" %>
	<%= f.text_field :name, placeholder: "商品名" %>
	
	<%= f.label :"商品説明" %>
	<%= f.text_area :item_detail,placeholder: "ここに説明文を記述します" %>
	
	<%= f.label :"ジャンル" %>
	<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id,:name) %>
	
	<%= f.label :"税抜価格" %>
	<%= f.text_field :price, placeholder: "1000" %>円
	
	<%= f.label :"販売ステータス" %>　or <p>販売ステータス</p>
	<%= f.radio_button :is_active, "true" %>
	<%= f.label :is_active_true, "販売中"%>
	<%= f.radio_button :is_active, "false" %>
	<%= f.label :is_active_false, "販売停止中"%>
	
	<% if f.object.new_record? %>
		<%= f.submit "新規登録"%>
	<% else %>
		<%= f.submit "変更を保存"%>
	<% end %>

<% end %>	