<%= form_with model:item, url: url, method: method, local:true do |f| %>

  <div class="form-group">
		<%= f.label :item_image, "商品画像" %><%= f.file_field :item_image, accept: 'image/*' %>
  </div>

  <div class="form-group">
		<%= f.label :name, "商品名" %>
		<%= f.text_field :name, placeholder: "商品名" %>
  </div>


  <div class="form-group">
		<%= f.label :item_detail, "商品説明" %>
		<%= f.text_area :item_detail, placeholder: "ここに説明文を記述します" %>
  </div>

  <div class="form-group">
		<%= f.label :genre_id, "ジャンル" %>
		<!--退避：, include_blank: "--選択してください--"-->
		<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id,:name) %>
  </div>

  <div class="form-group">
		<%= f.label :price, "税抜価格" %>
		<%= f.text_field :price, placeholder: "1000" %>円
  </div>

  <div class="form-group">
		<%= f.label :is_active, "販売ステータス" %>
		<%= f.radio_button :is_active, true %>
		<%= f.label :is_active_true, "販売中" %>
		<%= f.radio_button :is_active, false %>
		<%= f.label :is_active_false, "販売停止中"%>
  </div>

<!--idの有無で表記を分岐する-->
  <div class="form-group">
		<% if item.id == nil %>
			<%= f.submit "新規登録", class:"btn btn-outline-success ml-2 btn-sm" %>
		<% else %>
			<%= f.submit "変更を保存", class:"btn btn-outline-success ml-2 btn-sm" %>
		<% end %>
  </div>

<% end %>