<p>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧は出来ますが、<br>
  購入には会員登録が必要になります。<br>
</p>

<div>
  <h3>新着一覧</h3>

  <!--新着商品を４つ表示する-->
  <!--並び替え機能と同様にモデルで定義-->
  <!--eachの繰り返し回数を４回で指定すれば良さそう-->
  <% @item.first(4).each do |item| %>
    <div>
      <%= link_to item_path(item.id) do %><br>
        <%= image_tag item.get_item_image(100,100) %>
      <% end %>
      <%= item.name %>
      ￥<%= item.price %>
    </div>
  <% end %>

  <%= link_to "全ての商品を見る＞", items_path %>
</div>


<!--ジャンル検索の呼び出しはrenderで実施-->
<!--adminから呼び出す？？権限？？-->
<!--render ''-->