<!--管理者が顧客一覧を確認する画面の記述(現在会員の顧客と既に退会している顧客を確認)-->

<div class="container">
  <div class="row">
    <h2 class="mx-3 my-5 text-secondary border border-3 rounded-top col-2 text-center">会員一覧</h2>

      <table class="table table-hover align-middle text-secondary">
        <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
          <tr>
            <!--会員ID-->
            <td><%= customer.id %></td>
            <!--氏名(英語で記述時はlast_nameを先にして表示では逆になりのでfirst, lastの順番で表示される)-->
            <!--フルネーム表示のためのメソッドを定義して、それをリンクにする-->
            <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
            <!--メールアドレス-->
            <td><%= customer.email %></td>
            <!--ステータス-->
              <!--No Method Error発生でdeletedをactiveに変更-->
           <!--<td class="<%#= customer.is_deleted ? 'text-gray' : 'text-green' %>"><%#= customer.is_deleted ? '退会済み' : '有効' %></td>-->
           <!--三項演算子は式、true、falseの順-->
           <td class="<%= customer.is_active ? 'text-green' : 'text-gray' %>"><%= customer.is_active ? '有効' : '退会' %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>

  <%= paginate @customers %>
