<h2>注文履歴詳細</h2>

<p>購入者</p>
<%= @order.customer.last_name %>
<%= @order.customer.first_name %>

<p>注文日</p>
<%= @order.created_at %>

<p>配送先</p>
〒<%= @order.post_code %><br>
<%= @order.address %><br>
<%= @order.name %>

<p>支払方法</p>
<%= @order.payment_method %>

<p>注文ステータス</p>
<!--セレクト-->
<%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
  <%= f.select :status, Order.statuses %>
  <%= f.submit "更新" %>
<% end %>

<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
      <td>製作ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <%= order_detail.item.name %>
    </tr>
    <tr>
      <%= order_detail.item.price %>
    </tr>
    <tr>
      <%= order_detail.amount %>
    </tr>
    <tr>
      <%= order_detail.subtotal %>
    </tr>

    <tr>
      <td>
      <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
        <!--このままだと英語になってしまう、mapメソッドを使用すると日本語にできる-->
        <%= f.select :making_status, OrderDetail.making_statuses.keys %>
        <%= f.submit "更新" %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>商品合計</p>
<% @total_item_price %>
<p>送料</p>
<% @order.shipping_fee %>
<p>請求合計金額</p>
<% @order.total_price %>

