<h2>注文履歴詳細</h2>

<div class="form-group">
  <p>購入者</p>
  <%= @order.customer.full_name %>
</div>

<div class="form-group">
  <p>注文日</p>
  <%= @order.created_at.strftime("%Y/%m/%d %H:%M") %>
</div>

<div class="form-group">
  <p>配送先</p>
  〒<%= @order.post_code %> <%= @order.address %><br>
  <!--nameの表示を逆に修正-->
  <%= @order.name %>
</div>

<div class="form-group">
  <p>支払方法</p>
  <!--表示を日本語化する必要あり-->
  <%= @order.payment_method %>
</div>

<div class="form-group">
  <p>注文ステータス</p>
  <!--セレクト-->
  <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
    <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enum.order.status.#{k}"),k]} %>
    <%= f.submit "更新" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
      <td>製作ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <%= order_detail.item.name %>
    </tr>
    <tr>
      <%= order_detail.item.price %>
    </tr>
    <tr>
      <%= order_detail.amount %>
    </tr>
    <tr>
      <%= order_detail.subtotal %>
    </tr>

    <tr>
      <td>
      <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
        <!--このままだと英語になってしまう、mapメソッドを使用すると日本語にできる-->
        <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enum.order_details.making_status.#{k}"),k]} %>
        <%= f.submit "更新" %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>商品合計</p>
<% @total_item_price %>
<p>送料</p>
<% @order.shipping_fee %>
<p>請求合計金額</p>
<% @order.total_price %>

