<div>
  <%= flash[:notice] %>
</div>

<h2 class="mx-3 my-5 text-secondary border border-3 rounded-top col-2 text-center">注文履歴一覧</h2>

<table class="table table-hover align-middle text-secondary">
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <!--必須ではないため退避：（注文ステータス）-->
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M"),admin_order_path(order.id) %></td>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td><%= order.order_details.sum(:amount) %></td>
      <td>
      <!--必須ではない、最後→enumとの組み合わせで表現-->
      <!--%= order.status %>-->
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>