<h2>注文情報</h2>
<p>支払方法</p>

<% form_with model: @order, url: confirm_orders_path, method: :post do |f| %>

  <!--ラジオボタン_クレジットカード-->
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <!--ラジオボタン_銀行振込-->
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

  <!--配送先選択 ３つ-->
  <!--customerモデルから自分の登録している住所を選択できるラジオボタン-->
  <%= f.radio_button :address_id, current_customer.address_id %>
  <%= f.label :address_id, "ご自身の住所" %>
  〒<%= current_customer.post_code %>
   <%= current_customer.address %>
  <%= current_customer.last_name %>
  <%= current_customer.first_name %>

<!--addressモデルから登録されている住所をセレクトボックスで選択できるラジオボタン-->
  <%= f.radio_button :address_id, Address.first.id %>
  <%= f.label :address_id, "登録済み住所から選択" %>
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

  <!--addressモデルに新たに登録し、その住所を配送先に選択できるラジオボタン-->
  <%= f.radio_button :address_id, "new" %>
  <%= f.label :address_id, "新しいお届け先" %>
  <%= f.label :post_code, "郵便番号（ハイフンなし）" %>
  <%= f.text_field :post_code %>
  <%= f.label :post_code, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :naem, "宛名" %>
  <%= f.text_field :name %>

  <%= f.submit "確認画面へ進む" %>

<% end %>