<h2>注文情報</h2>
<p>支払方法</p>

<!--フォームが表示されない？？-->
<!--いったん退避：, method: :post-->
<!--, url: confirm_orders_path-->
<%= form_with model: @order do |f| %>

<!--ラジオボタン_クレジットカード-->
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <!--ラジオボタン_銀行振込-->
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

  <!--配送先選択 ３つ-->
  <!--customerモデルから自分の登録している住所を選択できるラジオボタン-->
  <!--[]内の複数のカラムのデータをラジオボタンで送る-->
  <%= f.radio_button :select_address, 0 %>
  <%= f.label :select_address, "ご自身の住所" %>
  〒<%= @customer.post_code %>
   <%= @customer.address %>
  <%= @customer.last_name %>
  <%= @customer.first_name %>

  <!--addressモデルから登録されている住所をセレクトボックスで選択できるラジオボタン-->
  <!--ラジオボタンで登録済みの住所が選択された＝1を「select_address」というキーで送付-->
  <%= f.radio_button :select_address, 1 %>
  <%= f.label :select_address, "登録済み住所から選択" %>
  <!--セレクトボタンで配送済みに登録されたアドレスのidを「address_id」というキーで送付-->
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

  <!--addressモデルに新たに登録し、その住所を配送先に選択できるラジオボタン-->
  <%= f.radio_button :select_address, 2 %>
  <%= f.label :address_id, "新しいお届け先" %>
  <%= f.label :post_code, "郵便番号（ハイフンなし）" %>
  <%= f.text_field :post_code %>
  <%= f.label :post_code, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :naem, "宛名" %>
  <%= f.text_field :name %>

  <%= f.submit "確認画面へ進む" %>

<% end %>