<h4 class="mx-3 my-3 text-secondary border border-3 rounded-top col-3 text-center" alt="...">商品一覧</h4>
（全<%= @items.count %>件）

<% @items.each do |item| %>

  <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_item_image(100,100) %>
  <% end %>
  <%= item.name %>
  ￥<%= item.price %>

<% end %>

<!--ページ送りを追加（表示するには、商品が８件以上必要）-->
<%= paginate @items %>