<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-secondary mx-3 my-5">
        <%= image_tag @item.get_item_image(150,150) %>
        <%= @item.name %>
        <%= @item.item_detail %>
        ￥<%= @item.with_tax_price %>（税込）
      </div>

      <div class="text-secondary mx-3 my-3">
      <!--カートに選んだ商品データを送信する-->
      <%= form_with model: @cart_item, url: cart_items_path, method: :post, local:true do |f| %>
      	<%= f.hidden_field :item_id, :value => @item.id %>
      	<%= f.select :amount, 1..10, include_blank:"個数選択" %>
      	<%= f.submit "カートに入れる", class:"btn btn-outline-success ml-3 btn-sm" %>
      <% end %>
      </div>
    </div>
  </div>
</div>